model/tags.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="tags">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="tag" maxOccurs="unbounded">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="multiLangStr">
                <xs:attribute name="id" type="nonEmptyString" use="required"/>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
          <xs:unique name="maxOneTxtPerLangPerTag">
            <xs:selector xpath="txt" />
            <xs:field xpath="@lang" />
          </xs:unique>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="uniqueId">
      <xs:selector xpath="tag" />
      <xs:field xpath="@id" />
    </xs:unique>
  </xs:element>
  <xs:simpleType name="nonEmptyString">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="multiLangStr">
    <xs:sequence>
      <xs:element name="txt" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="lang" type="nonEmptyString" use="required" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nonEmptyMultiLangStr">
    <xs:sequence>
      <xs:element name="txt" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="lang" type="nonEmptyString" use="required" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>