model/templateModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="template">
    <xs:complexType>
      <xs:all>
        <xs:element name="authors">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="author" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="name" type="nonEmptyString" />
                    <xs:element name="contact" type="xs:string" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="title" type="nonEmptyString" />
        <xs:element name="description" type="xs:string"/>
        <xs:element name="snomedVersion" type="nonEmptyString"/>
        <xs:element name="snomedBranch" type="nonEmptyString" />
        <xs:element name="stringFormat" type="xs:string"/>
        <xs:element name="tags">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="tag" type="nonEmptyString" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="etl" type="nonEmptyString" />
        <xs:element name="items" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="item">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="title" type="nonEmptyString" />
                    <xs:element name="description" type="xs:string" minOccurs="0" />
                  </xs:all>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name ="nonEmptyString">
     <xs:restriction base="xs:string">
       <xs:minLength value="1"/>
     </xs:restriction>
  </xs:simpleType>
</xs:schema>
